/* your code here */
body{

	font-family:Arial;
}
.content{

	background-color:rgb(0,0,0);
	color:white;
	padding:25px;
}

.fa {

  width: 25px;
  text-align: center;
  text-decoration: none;
  padding:15px;
  border-radius:50%;
  
  
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.top{

	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-inline:-8vw;
}

.logo_name{

	font-size:35px;
}

.link-boxes{

	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin-top:50px;
	margin-inline:3vw;
}

ul{

	list-style-type:none;
	margin:0px;
	padding:0px;
	
}

li a{

	text-decoration:none;
	color:grey;
	
	
}

.media-icons{

	display:flex;
	flex-direction:row;
	
}

.links{

	font-size:20px;
	text-decoration:underline;
	
}
.box{

	margin-left:8px;
}

li{

	margin-top:10px;
}

.bottom-details{

	display:flex;
	justify-content:space-between;
	background-color:rgb(44,48,58);
	color:grey;
	padding:25px;
}

a{
	margin-right:10px;
}



